= simple_form_for @user, :url => users_path, :html => { :multipart => true } do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name
  .avatar
    %label.photo-upload Upload a photo
    = f.file_field :avatar 
  = f.input :username
  = f.input :email
  = f.input :password_digest, :label => 'Password'
  = f.input :password_digest, :label => 'Repeat Password'
  = f.input :expertise
  = f.input :bio, :as => :text

  
  .actions
    = f.submit 'Create Account'
