!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title CodeAlong
      = stylesheet_link_tag    "application", :media => "all"
      = stylesheet_link_tag    "custom", media: "all"
      = javascript_include_tag "application"
      = csrf_meta_tags
      :plain
        <script type="text/javascript" src="//use.typekit.net/xwh1coo.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    .container
      .navbar
        .navbar-inner
          .logo
            =link_to "home", '/'
          %ul.nav
            %li
              %a
              = link_to "library", "/"
            %li
              %a
              = link_to "sign up", "/"
            %li
              %a
              = link_to "login", "/"
      = yield

  = render "shared/google_analytics"